<h1>Let's Find an Anagram<h1>
  <form action="/anagram">
    <div class="form-group">
      <label for="title">What anagram would you like to see?</label>
      <input id="anagram" name="anagram" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-success">Send</button>
  </form>
